#*
*~
not_in_git/
kicad/*.bak
kicad/ReTuLaReMake-backups/
kicad/fp-info-cache
cpld/altera/db/
cpld/altera/incremental_db/
cpld/altera/output_files/
cpld/altera/simulation/
cpld/xilinx/working/
cpld/xilinx/iseconfig/
