#*
*~
not_in_git/
kicad/*.bak
kicad/ReTuLaReMake-backups/
kicad/fp-info-cache
kicad_jk/*.bak
kicad_jk/ReTuLaReMake-backups/
kicad_jk/fp-info-cache
cpld/altera/db/
cpld/altera/incremental_db/
cpld/altera/output_files/
cpld/altera/simulation/
cpld/xilinx_fpga/working/
cpld/xilinx_fpga/iseconfig/
cpld/xilinx_cpld/working/
cpld/xilinx_cpld/iseconfig/
cpld/cupl/*.doc
cpld/cupl/*.fit
cpld/cupl/*.io
cpld/cupl/*.jed
cpld/cupl/*.pin
cpld/cupl/*.pla
cpld/cupl/*.tt2
cpld/cupl/*.tt3
cpld/cupl/*.vo
